bmaps/* linguist-vendored
c/* linguist-vendored
fonts/** linguist-vendored
images/* linguist-generated
intro-manual/* linguist-generated
libs/* linguist-vendored
music/* linguist-generated
src/* linguist-language=BASIC
